<div id="<%= dom_id meal_suggestion %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Request Criteria</strong>
    <%= meal_suggestion.request_body %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Our Suggestion:</strong>
    <%= meal_suggestion.response_body %>
  </p>
</div>
